# Python y SQLite

In [1]:
import sqlite3

In [2]:
# Crea conexión a la base de datos SQLite / si NO existe, se crea
conn = sqlite3.connect('2024_bd.db')

In [3]:
# Crea un curosor que permite ejecutar comandos SQL / Objeto que envia comandos SQL 
cursor = conn.cursor()

In [4]:
# Ejecuta un comando SQL para creación de tabla
esquema_sql= '''
BEGIN TRANSACTION;
DROP TABLE IF EXISTS usuarios;
CREATE TABLE IF NOT EXISTS usuarios(
    id INTEGER PRIMARY KEY,
    nombre TEXT,
    edad INTEGER
); 
COMMIT;
'''
cursor.executescript(esquema_sql)

In [5]:
# Ejecuta comando SQL para insertar datos
cursor.execute('INSERT INTO usuarios(id,nombre,edad) VALUES (1,"Alice",30)') #Cargo unicamente un dato
cursor.execute('INSERT INTO usuarios(id,nombre,edad) VALUES (2,"Bob",25)') #Cargo unicamente un dato
cursor.execute('INSERT INTO usuarios(id,nombre,edad) VALUES (3,"Charlie",35)') #Cargo unicamente un dato

In [6]:
# Ejecuta comando SQL para insertar multiple datos
# Listas de datos
usuarios = [(4,"Juanito",24),(5,"Maria",25),(6,"Pedro",26)]

#Inserta los datos
cursor.executemany('INSERT INTO usuarios(id,nombre,edad) VALUES(?,?,?)', usuarios)

In [7]:
# Ejecuto codigo para carga de datos de usuarios desde .CSV
import pandas as pd

# Declaro DF a leer
archivo_csv = r'C:\Users\csolis\OneDrive - Nutreco Nederland B.V\Documents\DOCUMENTOS PERSONALES\Estudio\06_Almacenamiento_Datos\01_Datos\usuarios.csv'
DF = pd.read_csv(archivo_csv, delimiter=';') 
# Comando SQL para insertar
DF.to_sql('usuarios', conn,if_exists='append',index=False)

3

In [8]:
# Confirmo los cambios en la base de datos
conn.commit()

# Consultas

In [9]:
# Realizo consulta
cursor.execute('SELECT * FROM usuarios')
datos_usuarios= cursor.fetchall() # Último resultado de la ultima ejecución de execute
print("Usuarios de la BD:")
for usuario in datos_usuarios:
    print(usuario)

Usuarios de la BD:
(1, 'Alice', 30)
(2, 'Bob', 25)
(3, 'Charlie', 35)
(4, 'Juanito', 24)
(5, 'Maria', 25)
(6, 'Pedro', 26)
(7, 'Jorge', 40)
(8, 'Valeria', 32)
(9, 'Felipe', 25)

In [10]:
# Cierro la  BD
conn.close()