# Ejercicio Análisis de Datos de Ventas con SQLite en Python

### **Objetivo:** 
Utilizar Python y SQLite para crear una base de datos, cargar datos y realizar consultas para analizar los datos de ventas de una empresa ficticia, todo dentro de un notebook de Python.

###  **Parte 1: Creación de la Base de Datos y Tablas**

**1. Conexión a SQLite**
- Utilizar la librería `sqlite3` para establecer una conexión con una base de datos llamada `ventas_tecnologia.db`. Si la base de datos no existe, se creará automáticamente.

**2. Creación de Tablas**
Se emplean comandos SQL dentro de un script en Python para definir la estructura de las siguientes tablas:

**a) Tabla `Productos`**
- Columnas:
  - `id_producto` (INT, clave primaria): Identificador único del producto.
  - `nombre_producto` (TEXT): Nombre del producto.
  - `precio` (REAL): Precio del producto.
  - `categoria` (TEXT): Categoría a la que pertenece el producto.

**b) Tabla `Clientes`**
- Columnas:
  - `id_cliente` (INT, clave primaria): Identificador único del cliente.
  - `nombre_cliente` (TEXT): Nombre del cliente.
  - `email` (TEXT): Dirección de correo electrónico del cliente.

**c) Tabla `Ventas`**
- Columnas:
  - `id_venta` (INT, clave primaria): Identificador único de la venta.
  - `fecha_venta` (DATE): Fecha en que se realizó la venta.
  - `id_cliente` (INT, clave foránea): Relación con la tabla `Clientes` (quién realizó la compra).
  - `id_producto` (INT, clave foránea): Relación con la tabla `Productos` (qué producto se compró).
  - `cantidad` (INT): Número de unidades vendidas del producto.

In [1]:
import sqlite3

# Crear conexión y cursor
conn = sqlite3.connect('ventas_tecnologia.db')
cursor = conn.cursor()

# Crear tablas
cursor.executescript('''
DROP TABLE IF EXISTS Productos;
DROP TABLE IF EXISTS Clientes;
DROP TABLE IF EXISTS Ventas;

CREATE TABLE Productos (
    id_producto INTEGER PRIMARY KEY,
    nombre_producto TEXT NOT NULL,
    precio REAL NOT NULL,
    categoria TEXT NOT NULL
);

CREATE TABLE Clientes (
    id_cliente INTEGER PRIMARY KEY,
    nombre_cliente TEXT NOT NULL,
    email TEXT NOT NULL
);

CREATE TABLE Ventas (
    id_venta INTEGER PRIMARY KEY,
    fecha_venta DATE NOT NULL,
    id_cliente INTEGER NOT NULL,
    id_producto INTEGER NOT NULL,
    cantidad INTEGER NOT NULL,
    FOREIGN KEY (id_cliente) REFERENCES Clientes(id_cliente),
    FOREIGN KEY (id_producto) REFERENCES Productos(id_producto)
);
''')

print("Tablas creadas exitosamente.")
conn.commit()

Tablas creadas exitosamente.

###  **Parte 2: Cargar Datos**
 
  
**1. Generar Datos Ficticios: Escribir un script en Python para generar datos ficticios para Productos, Clientes y Ventas. Usar por ejemplo módulos random y Faker.**


**2. Cargar los Datos: Usar sqlite3 para insertar los datos generados en las tablas correspondientes.**

In [3]:
!pip install Faker

Collecting Faker
  Downloading Faker-33.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\csolis\appdata\local\anaconda3\envs\ciencia_de_redes\lib\site-packages (from Faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in c:\users\csolis\appdata\local\anaconda3\envs\ciencia_de_redes\lib\site-packages (from Faker) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\csolis\appdata\local\anaconda3\envs\ciencia_de_redes\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Downloading Faker-33.1.0-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 1.9/1.9 MB 17.3 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-33.1.0

In [4]:
import random
from faker import Faker
from datetime import datetime, timedelta

fake = Faker()

# Generar datos para la tabla Productos
productos = [
    (1, "Laptop", 800.0, "Electrónica"),
    (2, "Smartphone", 600.0, "Electrónica"),
    (3, "Impresora", 150.0, "Oficina"),
    (4, "Monitor", 200.0, "Electrónica"),
    (5, "Teclado", 50.0, "Oficina"),
]
cursor.executemany("INSERT INTO Productos VALUES (?, ?, ?, ?)", productos)

# Generar datos para la tabla Clientes
clientes = [(i, fake.name(), fake.email()) for i in range(1, 21)]
cursor.executemany("INSERT INTO Clientes VALUES (?, ?, ?)", clientes)

# Generar datos para la tabla Ventas
ventas = []
for i in range(1, 101):
    id_venta = i
    fecha_venta = fake.date_between(start_date='-1y', end_date='today')
    id_cliente = random.randint(1, 20)
    id_producto = random.randint(1, 5)
    cantidad = random.randint(1, 10)
    ventas.append((id_venta, fecha_venta, id_cliente, id_producto, cantidad))

cursor.executemany("INSERT INTO Ventas VALUES (?, ?, ?, ?, ?)", ventas)

print("Datos cargados exitosamente.")
conn.commit()

Datos cargados exitosamente.

C:\Users\csolis\AppData\Local\Temp\ipykernel_1524\1798373847.py:31: DeprecationWarning: The default date adapter is deprecated as of Python 3.12; see the sqlite3 documentation for suggested replacement recipes
  cursor.executemany("INSERT INTO Ventas VALUES (?, ?, ?, ?, ?)", ventas)

### **Parte 3: Consultas y Análisis de Datos con SQL**  

**Realizar Consultas SQL: Usar Python para ejecutar consultas SQL y obtener datos de la base de datos. Las consultas deben incluir:**

**a) Lista de todas las ventas.**  
**b)Total de ventas por categoría de producto.**  
**c)Cinco clientes con mayor número de compras.**  
**d)Análisis de ventas mensuales a lo largo de un año.**

In [5]:
# Consulta: Listar todas las ventas
cursor.execute('''
SELECT V.id_venta, V.fecha_venta, C.nombre_cliente, P.nombre_producto, V.cantidad
FROM Ventas V
JOIN Clientes C ON V.id_cliente = C.id_cliente
JOIN Productos P ON V.id_producto = P.id_producto
''')
ventas = cursor.fetchall()
for venta in ventas:
    print(venta)

(1, '2024-02-17', 'James Oliver', 'Impresora', 7)
(2, '2024-06-07', 'Denise Harris', 'Monitor', 8)
(3, '2024-03-06', 'Marie Turner', 'Smartphone', 3)
(4, '2024-01-10', 'Matthew Martinez', 'Monitor', 7)
(5, '2024-03-16', 'John Watson', 'Smartphone', 3)
(6, '2024-09-25', 'Angelica Ellis', 'Laptop', 4)
(7, '2024-11-20', 'Marie Turner', 'Laptop', 10)
(8, '2024-05-21', 'Rachel Mckee', 'Teclado', 4)
(9, '2024-10-27', 'Angelica Ellis', 'Impresora', 6)
(10, '2023-12-14', 'Bonnie Oconnell', 'Impresora', 6)
(11, '2024-02-20', 'Matthew Acosta', 'Laptop', 6)
(12, '2024-10-31', 'Isaac Rush', 'Smartphone', 2)
(13, '2024-02-23', 'Amy Stout', 'Monitor', 5)
(14, '2024-04-18', 'Angelica Ellis', 'Monitor', 10)
(15, '2024-01-21', 'Amy Stout', 'Teclado', 6)
(16, '2024-07-01', 'Rachel Mckee', 'Impresora', 5)
(17, '2024-11-06', 'Jonathan Jacobs Jr.', 'Smartphone', 4)
(18, '2024-04-25', 'Jonathan Jacobs Jr.', 'Smartphone', 2)
(19, '2024-10-03', 'Amy Stout', 'Smartphone', 1)
(20, '2024-08-24', 'Isaac Rush', 'Teclado', 6)
(21, '2024-02-07', 'Matthew Acosta', 'Monitor', 4)
(22, '2024-02-15', 'Steven Cortez', 'Impresora', 1)
(23, '2024-03-05', 'Matthew Martinez', 'Laptop', 7)
(24, '2024-09-23', 'Bonnie Oconnell', 'Laptop', 9)
(25, '2024-03-17', 'Matthew Martinez', 'Impresora', 4)
(26, '2024-04-29', 'Amy Stout', 'Laptop', 9)
(27, '2024-03-31', 'Denise Harris', 'Teclado', 2)
(28, '2024-02-13', 'Rachel Mckee', 'Impresora', 8)
(29, '2024-09-14', 'Matthew Acosta', 'Laptop', 2)
(30, '2024-06-18', 'Katie Lopez', 'Teclado', 8)
(31, '2024-09-02', 'Denise Harris', 'Smartphone', 7)
(32, '2024-01-15', 'Becky Brown', 'Impresora', 8)
(33, '2024-10-04', 'Bonnie Oconnell', 'Laptop', 8)
(34, '2024-06-14', 'James Oliver', 'Smartphone', 5)
(35, '2024-01-29', 'Angelica Ellis', 'Impresora', 5)
(36, '2024-11-25', 'James Leach', 'Monitor', 2)
(37, '2024-01-29', 'Isaac Rush', 'Laptop', 8)
(38, '2024-09-03', 'Denise Harris', 'Monitor', 4)
(39, '2024-08-05', 'Jonathan Jacobs Jr.', 'Smartphone', 7)
(40, '2024-01-02', 'Steven Cortez', 'Impresora', 3)
(41, '2024-03-29', 'Michael Moore', 'Smartphone', 4)
(42, '2024-10-02', 'Denise Harris', 'Impresora', 1)
(43, '2024-03-19', 'Steven Cortez', 'Laptop', 4)
(44, '2024-03-29', 'Marie Turner', 'Monitor', 6)
(45, '2024-03-28', 'Bonnie Oconnell', 'Teclado', 6)
(46, '2024-10-30', 'Isaac Rush', 'Teclado', 10)
(47, '2024-09-19', 'Steven Cortez', 'Smartphone', 9)
(48, '2023-12-10', 'Becky Brown', 'Impresora', 8)
(49, '2024-07-10', 'Michael Moore', 'Impresora', 10)
(50, '2023-12-20', 'Tiffany Barton', 'Monitor', 3)
(51, '2024-07-01', 'Denise Harris', 'Impresora', 4)
(52, '2024-07-29', 'Tiffany Barton', 'Teclado', 3)
(53, '2024-05-16', 'Matthew Acosta', 'Laptop', 2)
(54, '2024-02-26', 'Ryan Sullivan', 'Monitor', 7)
(55, '2024-02-19', 'Becky Brown', 'Monitor', 7)
(56, '2024-07-18', 'Jonathan Jacobs Jr.', 'Laptop', 6)
(57, '2024-06-05', 'James Leach', 'Smartphone', 10)
(58, '2023-12-05', 'Amy Stout', 'Smartphone', 8)
(59, '2024-07-02', 'Amy Stout', 'Smartphone', 1)
(60, '2024-06-10', 'Tiffany Barton', 'Teclado', 8)
(61, '2023-12-30', 'Isaac Rush', 'Monitor', 6)
(62, '2024-08-25', 'Bonnie Oconnell', 'Smartphone', 4)
(63, '2023-12-28', 'Isaac Rush', 'Monitor', 1)
(64, '2024-07-29', 'Katie Lopez', 'Laptop', 7)
(65, '2024-08-05', 'Jonathan Jacobs Jr.', 'Teclado', 10)
(66, '2024-10-20', 'Angelica Ellis', 'Monitor', 3)
(67, '2024-11-19', 'Becky Brown', 'Monitor', 5)
(68, '2024-08-28', 'Michael Moore', 'Smartphone', 1)
(69, '2024-10-09', 'Cassidy Hernandez', 'Teclado', 8)
(70, '2024-05-01', 'Katie Lopez', 'Impresora', 6)
(71, '2024-09-18', 'Denise Harris', 'Teclado', 4)
(72, '2024-09-09', 'Cassidy Hernandez', 'Monitor', 9)
(73, '2024-11-13', 'James Oliver', 'Impresora', 7)
(74, '2024-11-04', 'Steven Cortez', 'Monitor', 10)
(75, '2024-01-24', 'Matthew Acosta', 'Smartphone', 3)
(76, '2024-11-27', 'Matthew Martinez', 'Laptop', 6)
(77, '2024-03-21', 'Amy Stout', 'Smartphone', 6)
(78, '2024-01-06', 'Katie Lopez', 'Smartphone', 10)
(79, '2023-12-06', 'Ryan Sullivan', 'Teclado', 5)
(80, '2024-05-22', 'Tiffany Barton', 'Laptop', 8)
(81, '2024-03-21', 'Ryan Sullivan', 'Teclado', 9)
(82, '2024-09-05', 'Jonathan Jacobs Jr.', 'Monitor', 9)
(83, '2024-01-13', 'Matthew Martinez', 'Laptop', 5)
(84, '2024-09-11', 'John Watson', 'Laptop', 1)
(85, '2024-05-04', 'Ryan Sullivan', 'Smartphone', 1)
(86, '2024-11-13', 'James Oliver', 'Laptop', 7)
(87, '2024-06-27', 'Matthew Martinez', 'Laptop', 9)
(88, '2024-10-31', 'Cassidy Hernandez', 'Impresora', 10)
(89, '2023-12-03', 'Katie Lopez', 'Smartphone', 3)
(90, '2024-07-31', 'Rachel Mckee', 'Teclado', 4)
(91, '2024-03-28', 'Rachel Mckee', 'Smartphone', 5)
(92, '2024-10-05', 'Rachel Mckee', 'Smartphone', 9)
(93, '2024-06-20', 'Tiffany Barton', 'Monitor', 2)
(94, '2024-11-19', 'Rachel Mckee', 'Monitor', 2)
(95, '2024-04-18', 'Rachel Mckee', 'Laptop', 6)
(96, '2024-04-28', 'Steven Cortez', 'Teclado', 1)
(97, '2023-12-05', 'Isaac Rush', 'Monitor', 1)
(98, '2024-05-29', 'Matthew Martinez', 'Teclado', 10)
(99, '2023-12-14', 'Matthew Acosta', 'Teclado', 7)
(100, '2024-05-31', 'Steven Cortez', 'Laptop', 2)

In [6]:
# Consulta: Total de ventas por categoría
cursor.execute('''
SELECT P.categoria, SUM(V.cantidad * P.precio) AS total_ventas
FROM Ventas V
JOIN Productos P ON V.id_producto = P.id_producto
GROUP BY P.categoria
''')
categorias = cursor.fetchall()
for categoria in categorias:
    print(categoria)

('Electrónica', 187800.0)
('Oficina', 20400.0)

In [7]:
# Consulta: Top 5 clientes con mayor número de compras
cursor.execute('''
SELECT C.nombre_cliente, COUNT(V.id_venta) AS total_compras
FROM Ventas V
JOIN Clientes C ON V.id_cliente = C.id_cliente
GROUP BY V.id_cliente
ORDER BY total_compras DESC
LIMIT 5
''')
clientes_top = cursor.fetchall()
for cliente in clientes_top:
    print(cliente)

('Rachel Mckee', 8)
('Denise Harris', 7)
('Matthew Martinez', 7)
('Amy Stout', 7)
('Steven Cortez', 7)

In [8]:
# Consulta: Ventas mensuales
cursor.execute('''
SELECT strftime('%Y-%m', fecha_venta) AS mes, SUM(cantidad * P.precio) AS total_ventas
FROM Ventas V
JOIN Productos P ON V.id_producto = P.id_producto
GROUP BY mes
ORDER BY mes
''')
ventas_mensuales = cursor.fetchall()
for mes in ventas_mensuales:
    print(mes)

('2023-12', 11500.0)
('2024-01', 22300.0)
('2024-02', 11800.0)
('2024-03', 24050.0)
('2024-04', 15250.0)
('2024-05', 11800.0)
('2024-06', 19000.0)
('2024-07', 14200.0)
('2024-08', 8000.0)
('2024-09', 27000.0)
('2024-10', 17650.0)
('2024-11', 25650.0)

In [9]:
# Cierro la  BD
conn.close()